:root {
    --red: #EF476F;
    --yellow: #FFD166;
    --green: #06D6A0;
    --lightblue: #118AB2;
    --darkblue: #073B4C;
    --black: #000;
    --white: white;
}
body{
    min-height: 80vh;
    background-color: var(--darkblue);
}

/* #modal{
    position: absolute;
    background-color: var(--lightblue);
    left: 35%;
    top: 25%;
    height: 35vh;
    width: 35vw;
    border: solid 5px var(--white);
} */


p {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    color: var(--white);
    font-family: 'Inter';
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: .5%;
}

.title {
    /* color: var(--white); */
    font-size: 5.0rem;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    font-family: 'Inter'
}

#game-container {
    margin-top: 10vh;
    display: flex;
    height:100%;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    padding-top: 1.5%;
   display:  flex;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   overflow: hidden;
}

#grid {
    border: 8px solid var(--white);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.box {
    border: 2px solid var(--white);
    min-width:60px;
    min-height:60px;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 20%;
    font-family: 'Inter', sans-serif;
}

.shake {
    animation: 1s shake;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}


.bounce {
    animation: .3s bounce;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 2;
}

.bounce0 {
    animation-delay: 0s;
}
.bounce1 {
    animation-delay: 0.25s;
}
.bounce2 {
    animation-delay: 0.5s;
}
.bounce3 {
    animation-delay: 0.75s;
}
.bounce4 {
    animation-delay: 1s;
}
.bounce5 {
    animation-delay: 1.25s;
}
.bounce6 {
    animation-delay: 1.5s;
}
.bounce7 {
    animation-delay: 1.75s;
}



@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -25px, 0);
    }
}
/* .box {
    display: grid;

} */

/* 
.box {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    border: 3px solid black;
    width: 70px;
    height:70px;
    margin: 4px;
    font-size: 4em;
    color: var(--black);
    background-color: white;
    
} */
/* 
.correct {
    background-color: #06D6A0;

} */

/* .wrong {
    background-color:#EF476F ;
} */
/* 
.missing {
    background-color: #EF476F;
} */