:root {
    --red:#EF476F;
    --yellow: #FFD166;
    --green: #06D6A0;
    --lightblue: #118AB2;
    --darkblue: #073B4C;
}

body {
    font-size: 28px;
    background-color: var(--darkblue);
    justify-content: center;
    align-items: center;
}

/*Title Text*/

#WhichTitle {
    font-family: 'Inter', sans-serif;
    font-size: 200%;
    color: white;
    font-weight: 800;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.row {
    margin: 0px;
}

#CardTitle {
    font-size: 110%;
    font-weight: 600;
}

.restart {
    margin-left: 25vw;
}


/* card reveal containers */
#RevealContent {
    background-color: var(--lightblue);
}

button {
    appearance: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin: 15px;
    outline: none;
    padding: 22px 80px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
}

  #easy:hover {
    color: #fff;
    background-color: #06D6A0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-8px);
  }
  
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }

a {
    color: white;
}

a:hover {
    color: #06D6A0;
}

#colorChange2 {
    color: #06D6A0;
}
#cardRevealTitle {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#song {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#url {
    font-size: 66%;
}